.bg-container {
  background: linear-gradient(rgba(22, 22, 22, 0.3),rgba(22, 22, 22, 0.7), #161616), url("../assets/bg-masthead.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 800px;
  width: 100%;
}

@media (max-width: 780px) {
  
  .bg-container {
    height: 600px;
  }
}

@media (max-width: 599px) {
  
  .bg-container {
    height: 350px;
  }

}

